<!DOCTYPE idea-plugin PUBLIC 'Plugin/DTD ' 'http://plugins.intellij.net/plugin.dtd'>
<idea-plugin xmlns:xi="http://www.w3.org/2001/XInclude">
  <id>git4idea.mpsbl.stubs</id>
  <name>MPS BaseLanguage subs plugin for git4idea IntelliJ IDEA plugin</name>
  <description>MPS BaseLanguage subs plugin for git4idea IntelliJ IDEA plugin</description>
  <version>1.0</version>
  <vendor url="http://www.jetbrains.com/mps/">JetBrains</vendor>
  
  <idea-version since-build="135.1" until-build="136.1" />
  <depends>Git4Idea</depends>
  <depends>jetbrains.mps.core</depends>
  <depends>jetbrains.mps.build</depends>
  
  <extensions defaultExtensionNs="com.intellij">
    <mps.LanguageLibrary dir="/languages" />
  </extensions>
</idea-plugin>